# Hands-on Assignment: Data Exploration and Preparation with Pandas

In this hands-on assignment, we'll use the Pandas python library to explore a dataset and then prepare it for machine learning algorithms. The dataset we'll be using is a medical dataset with information about some patients on metrics like glucose, insulin levels, and other metrics related to diabetes. The primary objectives for this assignment are - (a) practice Pandas on a realistic task, (b) learn how to get a feel for a large dataset (also known as data cleaning and data exploration), (c) see the distinction between Pandas and NumPy and (d) learn the typical flow for data preparation.

In [87]:
import pandas as pd
import numpy as np

load the diabetes dataset into a variable

In [88]:
# Allows us to see more columns of the data 
pd.set_option('display.max_columns', 10)

In [89]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Look at the first few rows of the dataset. What is the blood pressure of the patient number 2 (0-indexed)?

In [90]:
df.loc[2, 'BloodPressure']

64

Take a look at the summary for the dataset. Which of these following options represents the minimum age, median age and maximum age in the dataset?

In [91]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [92]:
df.shape

(768, 9)

For how many people is the Glucose data missing? (assuming that missing values are denoted by 0).

In [93]:
df1 = sum(df["Glucose"] == 0)
df1

5

Replace all missing Glucose values with None. To verify, make sure the output for dataset.info() looks as follows

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [95]:
#df.loc[df['Glucose'] == None]

bad = (df['Glucose'] == 0)
df.loc[bad, 'Glucose'] = None

Replace all missing values for BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction and Age with None.

In [96]:
for column in ["BloodPressure", "SkinThickness", "Insulin", "BMI", "DiabetesPedigreeFunction", "Age"]:
    bad = (df[column] == 0)
    df.loc[bad, column] = None

We already looked at means, medians, and other aggregated summary of the dataset. However, those metrics included missing values which were denoted by a numerical 0.

Now that we have cleaned the data, we can take a look at the actual mean for each feature. Which of the following options represents the mean glucose level, mean blood pressure, and mean insulin level?

In [97]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Now, let's do a some deeper data analysis. Calculate the correlation between each variable and the outcome. Which of the following features is most correlated with the outcome?

In [98]:
df.corrwith(df["Outcome"])

Pregnancies                 0.221898
Glucose                     0.494650
BloodPressure               0.170589
SkinThickness               0.259491
Insulin                     0.303454
BMI                         0.313680
DiabetesPedigreeFunction    0.173844
Age                         0.238356
Outcome                     1.000000
dtype: float64

Calculate the correlation between each pair of variables. Which of the following pairs of features has a correlation of > 0.5.

This makes sense since we expect Pregnancy and Age to be more related to each other and thus have a higher correlation.

In [99]:
df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.128135,0.214178,0.100239,0.082171,0.021719,-0.033523,0.544341,0.221898
Glucose,0.128135,1.000000,0.223192,0.228043,0.581186,0.232771,0.137246,0.267136,0.494650
BloodPressure,0.214178,0.223192,1.000000,0.226839,0.098272,0.289230,-0.002805,0.330107,0.170589
SkinThickness,0.100239,0.228043,0.226839,1.000000,0.184888,0.648214,0.115016,0.166816,0.259491
Insulin,0.082171,0.581186,0.098272,0.184888,1.000000,0.228050,0.130395,0.220261,0.303454
BMI,0.021719,0.232771,0.289230,0.648214,0.228050,1.000000,0.155382,0.025841,0.313680
DiabetesPedigreeFunction,-0.033523,0.137246,-0.002805,0.115016,0.130395,0.155382,1.000000,0.033561,0.173844
Age,0.544341,0.267136,0.330107,0.166816,0.220261,0.025841,0.033561,1.000000,0.238356
Outcome,0.221898,0.494650,0.170589,0.259491,0.303454,0.313680,0.173844,0.238356,1.000000

Let's move on to data preparation. For many machine learning algorithms, it is common to normalize the dataset before giving it as input.

Often, this means that each feature should have mean = 0, and standard deviation = 1. Do this for the current dataset. (For each column, subtract the mean, and then divide by standard deviation).

Note that the means are practically zero, even though they are not exactly zero (all values are < 0.00000000000001). This is because floating point arithmetic cannot be carried out with infinite precision on computers.

Write your code below. Note that you should store your answer in a variable called normalized.

In [100]:
normalized = (df - df.mean()) / df.std()

In [101]:
normalized.mean()

Pregnancies                 2.977942e-17
Glucose                     1.002547e-16
BloodPressure              -5.239480e-16
SkinThickness              -3.006426e-17
Insulin                    -6.903671e-18
BMI                         3.449978e-15
DiabetesPedigreeFunction    1.913039e-15
Age                         2.198762e-16
Outcome                     3.189000e-16
dtype: float64

In [102]:
normalized.std()

Pregnancies                 1.0
Glucose                     1.0
BloodPressure               1.0
SkinThickness               1.0
Insulin                     1.0
BMI                         1.0
DiabetesPedigreeFunction    1.0
Age                         1.0
Outcome                     1.0
dtype: float64

Another good thing about normalized data, is that it can be easier to interpret for those who don't have domain expertise in the data.

Look at the first few rows of the data. Does patient 2 (0-indexed) have above normal Glucose or below normal?

In [103]:
normalized.head() # Above Normal

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.639530,0.861722,-0.032723,0.558040,NaN,0.164987,0.468187,1.425067,1.365006
1,-0.844335,-1.201441,-0.517291,-0.014643,NaN,-0.845845,-0.364823,-0.190548,-0.731643
2,1.233077,2.007924,-0.678814,NaN,NaN,-1.322380,0.604004,-0.105515,1.365006
3,-0.844335,-1.070446,-0.517291,-0.587327,-0.518188,-0.629238,-0.920163,-1.040871,-0.731643
4,-1.141108,0.501487,-2.617087,0.558040,0.104834,1.536831,5.481337,-0.020483,1.365006

There's one last thing we need to do for our dataset to be ready for machine learning. ML algorithms can't handle None values.

A possible strategy for removing nulls from the dataset, is the following.

Create another feature (for example, "glucose_isnull") which is 1.0 if "glucose" value is missing for a person and 0.0 otherwise.
Replace all null values with the mean value (0.0 since we have already normalized).

In [104]:
columns = list(normalized.columns)[:-1]
 
for column in columns:
    values = normalized[column].isnull()
    normalized.insert(0, "%s_isnull" % column, values)
 
normalized[normalized.isnull()] = 0.0
normalized = normalized.applymap(float)
normalized.head()

,Age_isnull,DiabetesPedigreeFunction_isnull,BMI_isnull,Insulin_isnull,SkinThickness_isnull,...,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.0,0.0,0.0,1.0,0.0,...,0.000000,0.164987,0.468187,1.425067,1.365006
1,0.0,0.0,0.0,1.0,0.0,...,0.000000,-0.845845,-0.364823,-0.190548,-0.731643
2,0.0,0.0,0.0,1.0,1.0,...,0.000000,-1.322380,0.604004,-0.105515,1.365006
3,0.0,0.0,0.0,0.0,0.0,...,-0.518188,-0.629238,-0.920163,-1.040871,-0.731643
4,0.0,0.0,0.0,0.0,0.0,...,0.104834,1.536831,5.481337,-0.020483,1.365006

### Training a Random Forest classifier on this data.

In [105]:
from sklearn.ensemble import RandomForestClassifier

#### split the dataset

In [81]:
xx = normalized.values[:, :-1]
yy = normalized.values[:, -1]

In [84]:
xx_train = xx[:568, :]
yy_train = yy[:568]
xx_test = xx[568:, :]
yy_test = yy[568:]

In [85]:
xx_test.shape

(200, 16)

#### train the classifier

In [86]:
classifier = RandomForestClassifier(min_samples_split=10)
classifier.fit(xx_train, yy_train)
print(classifier)

ValueError: Unknown label type: 'continuous'

In [ ]:
## make predictions on test data 
predictions = classifier.predict(xx_test)

In [ ]:
## see how many predictions were correct 
correct = sum(predictions == yy_test)
print(correct)
total = len(yy_test)

In [ ]:
total

In [ ]:
print("The classifier achieved an accuracy of: %s" % (correct/total))